@page "/devices"

    <div>
        <h1>Devices</h1>
        <button class="btn btn-primary" @onclick="doSomething">Click me</button>
    </div>

    @code {
     

        private void doSomething()
        {
            
        }
    }
